<div class="m-5">
  <div class="container">
    <div class="row justify-content-center align-middle">
      <div class="col-auto">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Number of hours</mat-label>
          <input matInput min="0" type="number" value="{{n}}" [formControl]="hoursFormControl">
          <mat-error *ngIf="!hoursFormControl.valid">
            Please enter a valid hours value
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-auto p-2">
        <button mat-raised-button color="primary"
                (click)="refresh()"
                [disabled]="!hoursFormControl.valid">Refresh</button>
      </div>
    </div>
    <div class="row justify-content-center">
      <app-table-consumption [dataSource]="data"></app-table-consumption>
    </div>

  </div>
</div>


